<% content_for :left do %>
  <p><%= link_to "Create New User", new_user_path %></p>
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <%= will_paginate %>
    <% for user in @users %>
      <tr>
        <td class="first-column"><%= user.name %></td>
        <td class="second-column"><%= link_to "Show", user %></td>
      </tr>
    <% end %>
  </table>

<% end %>
